<h1>Listing matiawases</h1>

<table>
  <thead>
    <tr>
      <th>Groupname</th>
      <th>Devid</th>
      <th>Username</th>
      <th>Iconselect</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Devicetoken</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matiawases.each do |matiawase| %>
      <tr>
        <td><%= matiawase.groupname %></td>
        <td><%= matiawase.devid %></td>
        <td><%= matiawase.username %></td>
        <td><%= matiawase.iconSelect %></td>
        <td><%= matiawase.latitude %></td>
        <td><%= matiawase.longitude %></td>
        <td><%= matiawase.deviceToken %></td>
        <td><%= link_to 'Show', matiawase %></td>
        <td><%= link_to 'Edit', edit_matiawase_path(matiawase) %></td>
        <td><%= link_to 'Destroy', matiawase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Matiawase', new_matiawase_path %>
