<p id="notice"><%= notice %></p>

<p>
  <strong>Groupname:</strong>
  <%= @matiawase.groupname %>
</p>

<p>
  <strong>Devid:</strong>
  <%= @matiawase.devid %>
</p>

<p>
  <strong>Username:</strong>
  <%= @matiawase.username %>
</p>

<p>
  <strong>Iconselect:</strong>
  <%= @matiawase.iconSelect %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @matiawase.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @matiawase.longitude %>
</p>

<p>
  <strong>DeviceToken:</strong>
  <%= @matiawase.deviceToken %>
</p>

<%= link_to 'Edit', edit_matiawase_path(@matiawase) %> |
<%= link_to 'Back', matiawases_path %>
